/* Global CSS */

/* .light-mode {
  logo: &#10050;
} */

:root {
  --main-dm-color: #121212;
  --dp-dm-offset: #1e1e1e;
  --dp-dm-focus: #1d1d1d;
  --dp-dm-absolute: #383838;
  --main-dm-text: #e2e2e2;
  --main-dm-text-focus: #dadada;
  --primary-variant: #bb86fc;
  --secondary-variant: #03dac5;
  --error-variant: #cf6679;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 65px 65px 1fr 100px;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--primary-variant);
}

body {
  background: var(--main-dm-color);
  font-family: 'Gotham Book';
  font-size: 1em;
  line-height: 1em;
}

h1 {
  font-weight: 300;
  font-family: 'Gotham Bold';
}

.tags {
  color: var(--primary-variant);
}

.App-header {
  background-color: var(--main-dm-color);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-dm-text-focus);
  border-bottom: 1px solid var(--primary-variant);
}

.footer {
  background: var(--dp-dm-offset);
  min-height: 16vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: calc(10px + 2vmin);
  color: var(--main-dm-text);
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
}

.github-links {
  grid-row: 2/3;
  align-items: center;
  margin: 0;
  font-size: 0.6em;
}

.github-links:hover {
  text-shadow: 0px 0px 6px rgb(244, 244, 244);
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.errorText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.home-button {
  font-family: 'Gotham Book';
  font-size: 0.8em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 8px;
  position: absolute;
  top: 2%;
  left: 2%;
  background: var(--dp-dm-offset);
}

.home-button:hover {
  text-shadow: 0px 0px 6px rgb(185, 151, 255);
  transition: all 0.2s ease 0s;
}

.avatar-icon-style {
  font-family: 'Gotham Book';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  filter: invert(100%);
}

.user-avatar-icon-style {
  font-family: 'Gotham Book';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
}

/* Login Form  */

.login-form {
  margin-top: 2%;
}

.login-input {
  font-family: 'Gotham Book';
  font-size: 0.8em;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: var(--dp-dm-absolute);
  color: var(--primary-variant);
  margin-right: 20px;
}

.login-user {
  font-family: 'Gotham Book';
  font-size: 0.8em;
  color: var(--primary-variant);
  padding: 10px;
  border-radius: 8px;
  background: var(--dp-dm-absolute);
  border: none;
}

.login-user:hover {
  text-shadow: 0px 0px 6px rgb(185, 151, 255);
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.logout {
  max-width: 100px;
  grid-column: 3;
  grid-row: 2;
  font-family: 'Gotham Book';
  font-size: 0.6em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-radius: 8px;
  color: var(--error-variant);
  background: var(--dp-dm-offset);
  align-items: center;
}

.logout:hover {
  text-shadow: 0px 0px 6px rgb(255, 158, 158);
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

/* ... */

.topics-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.6em;
  margin-top: 0.2em;
  margin-left: 0.6em;
  margin-right: 0.6em;
  justify-content: center;
  align-items: center;
}

.topic-selector {
  border: 1px solid var(--main-dm-color);
  font-family: 'Gotham Book';
  font-size: 0.8em;
  padding: 0.8em;
  border-radius: 8px;
  background: var(--dp-dm-offset);
}

.topic-selector:hover {
  text-shadow: 0px 0px 6px rgb(185, 151, 255);
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.sort-by-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.6em;
  margin-top: 0.2em;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.sort-by-filters-drop {
  border: 1px solid var(--main-dm-color);
  font-family: 'Gotham Book';
  font-size: 0.8em;
  padding: 0.8em;
  background: var(--dp-dm-offset);
  color: var(--primary-variant);
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 0;
}

.sort-by-filters-drop:hover {
  text-shadow: 0px 0px 6px rgb(185, 151, 255);
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.filter-buttons {
  border: 1px solid var(--main-dm-color);
  font-family: 'Gotham Book';
  font-size: 0.8em;
  padding: 0.8em;
  background: var(--dp-dm-offset);
  color: var(--main-dm-text);
  border-radius: 8px;
}

.filter-buttons:hover {
  text-shadow: 0px 0px 6px rgb(244, 244, 244);
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.articles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card {
  border-radius: 8px;
  width: 75vw;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.8em;
  padding: 0.8em;
  color: var(--main-dm-text);
  background: var(--dp-dm-focus);
}

.article-card-title {
  color: var(--main-dm-text-focus);
  text-decoration-skip: underline;
  text-align: left;
  max-width: 500px;
  margin-left: 20px;
}

.title-underline {
  color: var(--secondary-variant);
  margin: 20px;
  max-width: 250px;
}

.author-under-title {
  text-align: left;
  margin: 20px;
}

.article-card-blurb {
  color: var(--main-dm-text-focus);
  text-align: left;
  max-width: 800px;
  margin: 20px;
}

.single-article-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-article-card {
  border-radius: 8px;
  width: 75vw;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.8em;
  margin-top: 30px;
  padding: 0.8em;
  color: var(--main-dm-text);
  background: var(--dp-dm-focus);
}

/* interacting component */

.interact {
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 2fr 1fr 2fr 5fr;
  justify-items: center;
}

.up-vote-button {
  grid-column: 2;
  border-radius: 8px;
  border: none;
  width: 50px;
  height: 50px;
  background: var(--dp-dm-focus);
  color: var(--main-dm-text);
  font-size: 1em;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}
.up-vote-button:disabled {
  transition: all 0.8s ease-in-out;
  color: var(--secondary-variant);
  font-size: 1.2em;
}
.votes-counter {
  grid-column: 3;
  font-size: 1em;
  margin: auto;
}
.down-vote-button {
  border-radius: 8px;
  border: none;
  width: 50px;
  height: 50px;
  background: var(--dp-dm-focus);
  color: var(--main-dm-text);
  font-size: 1em;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}
.down-vote-button:disabled {
  transition: all 0.8s ease-in-out;
  color: var(--error-variant);
  font-size: 1.2em;
}

/* ... */

.comment-card {
  border-radius: 8px;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.8em;
  padding: 0.8em;
  color: var(--main-dm-text);
  background: var(--dp-dm-focus);
}

.delete-comment-card {
  margin-bottom: 0px;
}

.comment-divider {
  max-width: 300px;
}

.reveal-comments {
  color: var(--main-dm-text);
  font-size: 3em;
  transition: all 0.5s ease-in-out !important;
  cursor: pointer;
}

.reveal-comments:hover {
  text-shadow: 0px 0px 6px rgb(244, 244, 244);
}

.dropdown-form-button {
  font-family: 'Gotham Book';
  font-size: 0.8em;
  color: var(--primary-variant);
  padding: 10px;
  border-radius: 8px;
  background: var(--dp-dm-absolute);
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
  cursor: pointer;
}

.dropdown-form-button:hover {
  text-shadow: 0px 0px 6px rgb(185, 151, 255);
  transition: all 0.2s ease 0s;
}

.add-comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-comment-input {
  font-family: 'Gotham Book';
  font-size: 0.8em;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: var(--dp-dm-absolute);
  color: var(--main-dm-text-focus);
  resize: none;
  max-width: 250px;
}

.add-comment-button {
  font-family: 'Gotham Book';
  font-size: 1em;
  color: var(--primary-variant);
  padding: 10px;
  border-radius: 8px;
  background: var(--dp-dm-absolute);
  border: none;
  margin: 10px;
}

.author-timestamp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date-string {
  color: var(--secondary-variant);
  font-family: 'Share Tech Mono', monospace;
}

.prompt-message {
  color: var(--error-variant);
}

.errorText {
  color: var(--error-variant);
}

.loader {
  padding: 10%;
  margin-bottom: 10%;
}

.projects-title {
  color: var(--primary-variant);
  font-size: 1.6em;
}

.project-list {
  color: var(--main-dm-text);
  height: 60vh;
}

.page-button {
  font-size: 0.8em;
  padding: 0.8em;
  background: var(--dp-dm-offset);
  color: var(--main-dm-text);
  border-radius: 8px;
}

.page-button:hover {
  cursor: pointer;
}

.page-button:disabled {
  border: black;
}

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('./fonts/GOTHAMBOOK.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('./fonts/GOTHAMBOLD.woff') format('woff');
}
